[submodule "lipsync-detector"]
	path = lipsync-detector
	url = git@github.com:SyedHassanUlHaq/lipsync-detector.git

[submodule "core_service"]
	path = core_service
	url = https://github.com/SyedHassanUlHaq/5dotCoreService.git
